atproto
beautifulsoup4
Django
django-cors-headers
django-csp
django-q2
django-sslserver
django-tinymce
django-two-factor-auth
django-widget-tweaks
djangorestframework
drf_yasg
feedparser
gunicorn
phonenumbers
Pillow
psycopg2-binary
python-dotenv
python-telegram-bot
pytz
qrcode
requests